body
{
    margin: 0;
    padding: 0;
    /* background-color:lightgrey; */
    overflow-x: hidden;
    /* background:url('../iamges/image1.gif') no-repeat; */
    background-size:100%;
}
.header
{   
    
    width:100%;
    height:auto;
    padding:5px; 
    position: sticky;
    top: 0;
    z-index: 5 !important;
 
}
.bi-inbox,.bi-person-add,.bi-cart 
{
    font-size: 20px !important;
    color: white;
    
}
.bi-facebook,.bi-twitter,.bi-whatsapp,.bi-instagram,.bi-linkedin,.bi-youtube
{
    font-size: 20px;
    letter-spacing: 5px;
    margin-left: 1%;
    color: white;

}
.social-media a 
{
    list-style-type: none;
    text-decoration: none;
    color: white;
}

.contact-us a
{
    
    font-size: 18px;
    /* font-weight: 100; */
    color:white;
    text-decoration: none;
    list-style-type: none;

}
.navbar
{
    width: 100%;
    padding: 0;
    height: auto;
    font-size: 16px;
    animation: 1s alternate pulse;
}
.navbar-brand 
{
    margin: 0px;
    /* margin-left: 10%; */
    font-size: 25px;
    /* animation: 2s infinite zoomIn; */
}
.navbar-brand img
{
    border-radius: 50px;
    margin-left: 10px;
    
}
.navbar-link
{
    margin-left: 18%;
}
.navbar-link li
{
    display: inline-block;
    padding: 5px 25px ;
    
}
.navbar-link a
{
    color: white;
    text-decoration: none;
    list-style-type: none;
    margin-left: 20px;
}

 .content
{
    padding-top: 2%;
    /* width: 50%; */
    height: auto;
    /* animation: 3s alternate slideInDown; */
}
.side-bar li
{
    list-style-type:none;
    padding:5px 25px;
    font-size: 20px;
    
} 
.side-bar a
{
    text-decoration:none;
    color:black;
    
}

.login-heading
{
    padding: 0;
    animation: 2s alternate zoomIn;
}
.reg-form
{
    width: 100%;
    height: auto;
    padding:8px;
    
    
}
#reg
{
    margin-left: 30%;
    padding: 5px;
    
}

.footer
{
    width: 100%;
    height: auto;
    /* padding:20px; */
    /* text-align: center; */

} 
@media only screen and (min-width:320px) and (max-width:480px)

{
    .content , .reg-form
    {
        width: 80%;
        height: auto;
        margin-left: 8%;

    }
    .navbar-link li
    {
        display: block;
    }

}

